@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <p>
                    <label for="Email">Email:</label>
                    <br />
                    @Html.TextBoxFor(r => r.Input.Email, new { @class = "form-control", placeholder = "Enter your email" })
                    <div class="pageMessage">
                        @Html.ValidationMessageFor(r => r.Input.Email)
                    </div>
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Send password reset link</button>
        </form>
    </div>
</div>

