<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SourceName" value="https://nuget.telerik.com/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SourceName>
        <add key="Username" value="Larry@Hacksoft.net" />
        <add key="ClearTextPassword" value="Brenda1964!" />
    </SourceName>
</packageSourceCredentials>
</configuration>