@using Phorcys2Web.Controllers;

@{
	ViewBag.Title = "END Calculator";
}
<script src="/js/DiveCalcs.js"></script>

<h1>END Calculator</h1>


<div id="calculator" align="center">
	<form id="form1" name="form1" action="">
		<br /> <br />
		<label for="O2">
			Oxygen %:
		</label>
		@(Html.Kendo().NumericTextBox()
				.Name("O2")
				.Value(21).Min(1).Max(100)
				.Decimals(0)
				.Format("#")
				.HtmlAttributes(new { style = "width: 100px;" })
				)

		<label for="HE">
			Helium %:
		</label>
		@(Html.Kendo().NumericTextBox()
				.Name("HE")
				.Value(0).Min(0).Max(100)
				.Decimals(0)
				.Format("#")
				.HtmlAttributes(new { style = "width: 100px;" })
				)

		<br /><br />
		<label for="Depth">
			Depth:
		</label>
		@(Html.Kendo().NumericTextBox()
				.Name("Depth")
				.Value(0).Min(1).Max(1000)
				.Decimals(0)
				.Format("#")
				.HtmlAttributes(new { style = "width: 100px;" })
				)


		<br /> <br />
		<button type="button" id="button" class="btn btn-primary" onclick="CalcEndWithO2(form1)">Calc</button>
		<br /><br />

		<label for="END">
			<b>E</b>quivalent <b>N</b>itrogen <b>D</b>epth
		</label>
		<input id="END" name="END" type="number" style="width: 100px;" readonly />
		<br /><br />
	</form>
</div>
