@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Phorcys2Web.Controllers
@using System.Text.Encodings.Web;

@{
    ViewData["Title"] = "Map of Dive Sites";
}
@model IEnumerable<Phorcys.Web.Models.MapViewModel>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@ViewBag.Title</h1>
    </div>
</section>

<div id="message" class="pageMessage">
    @{
        if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null)
        {
        }
        <p id="pageMessage">
            @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
        </p>
    }
</div>

<div id="map" style="height: 500px; width: 100%;"></div>

<script id="siteMapLocations" type="application/json">
    @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(site => new
    {
        Lat = site.Latitude,
        Lng = site.Longitude,
        Title = site.Title,
        Description = site.Notes
    })))
</script>
<div id="siteMapConfig" data-locations-id="siteMapLocations"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK8rLyEOX-mIRB1Qdcfu54GXMyuVj_XtA&callback=initMap&libraries=marker" async defer></script>

@section Scripts {
    <script src="~/js/pages/site-map.js"></script>
}
