@{
	ViewData["Title"] = "About";
}

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">About Phorcys</h1>
	</div>
</section>

<div id="body">
	<p><br/>
		Phorcys was an ancient sea-god who presided over the hidden dangers of the deep.
		He and his wife Keto were also the gods of all the large creatures which inhabited the depths of the sea.
	</p>
</div>

<div id="version">

	<p>
		<br />
		.2.01 02/04/24  7:22pm - Added ability to create a new Dive linked to a Dive Plan <br/>
		.2.00 02/03/24 11:54pm - Deployed first version to https://phorcys2.azurewebsites.net/ which will become 2.0
	</p>
</div>