@{
    ViewData["Title"] = "About";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">About Phorcys</h1>
    </div>
</section>

<div id="body" class="container">
    <p>
        Phorcys was an ancient sea-god who presided over the hidden dangers of the deep.
        He and his wife Keto were also the gods of all the large creatures which inhabited the depths of the sea.
    </p>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <img src="~/images/Phorcys.webp" alt="Phorcys" class="img-fluid" />
        </div>
    </div>
</div>

<div id="version" class="container">
    <p>
        <br />
        .4.04 06/02/24  5:40pm - Added Dive Location index and create pages<br />
        .4.03 05/21/24  8:12pm - Added MOD & END Calculator<br />
        .4.02 05/05/24  8:11pm - Updated Dives Dive Plans to use the logged in user<br />
        .4.01 05/01/24 10:43pm - Toggle login/logout<br />
        .4.00 04/20/24  5:18pm - Added registration, login, logout and migrated to SQL Server 2022<br />
        .3.04 04/07/24  2:10am - Fixed field colors on dark theme for Dive Plans and added Phorcys image to About and homepage <br />
        .3.04 04/03/24  1:39am - Added ability to edit a Dive Plan <br />
        .3.03 03/31/24  9:03pm - Added ability to create and delete a dive plan <br />
        .3.02 03/07/24  8:52pm - Added list of all Dive Plans <br />
        .3.01 03/04/24  9:54pm - Added Title to Dives v using Dive Plan Title <br />
        .3.00 02/27/24  9:16pm - Implemented purchased Telerik package to remove purchase messages <br />
        .2.01 02/04/24  7:22pm - Added ability to create a new Dive linked to a Dive Plan <br />
        .2.00 02/03/24 11:54pm - Deployed first version to https://phorcys2.azurewebsites.net/ which will become 2.0
    </p>
</div>