@{
	ViewData["Title"] = "About";
}

<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">About Phorcys</h1>
	</div>
</section>

<div id="body">
	<p><br/>
		Phorcys was an ancient sea-god who presided over the hidden dangers of the deep.
		He and his wife Keto were also the gods of all the large creatures which inhabited the depths of the sea.
	</p>
</div>

<div id="version">

	<p>
		<br />
		.3.03 03/31/24  9:03pm - Added ability to create and delete a dive plan <br/>
		.3.02 03/07/24  8:52pm - Added list of all Dive Plans <br />
		.3.01 03/04/24  9:54pm - Added Title to Dives v using Dive Plan Title <br/>
		.3.00 02/27/24  9:16pm - Implemented purchased Telerik package to remove purchase messages <br/>
		.2.01 02/04/24  7:22pm - Added ability to create a new Dive linked to a Dive Plan <br/>
		.2.00 02/03/24 11:54pm - Deployed first version to https://phorcys2.azurewebsites.net/ which will become 2.0
	</p>
</div>